@page "/warehouse/create"
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<h3>Create Warehouse</h3>

<EditForm Model="@warehouse" FormName="createWarehouse">
    <div class="form-group">
        <label for="Warehouse">Warehouse name</label>
        <InputText @bind-Value="warehouse.WarehouseName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="Warehouse">Warehouse address</label>
        <InputText @bind-Value="warehouse.WarehouseAddress" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary" @onclick="SaveWarehouse">Save Warehouse</button>
</EditForm>

@code {
    WarehouseEntity warehouse = new WarehouseEntity();
    WarehouseService warehouseService = new WarehouseService();

    protected override void OnInitialized()
    {
        //warehouses = new WarehouseService().List();
        //products = new ProductService().List();
    }

    private void SaveWarehouse()
    {
        //var inOutService = new InOutService();
        //inOut.InOutDate = DateTime.Now;
        warehouseService.Create(warehouse);
        NavigationManager.NavigateTo("/warehouse/list");
    }

}
